# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.sqlite3
*.db
instance/
.env
venv/
.env.*

# VS Code
.vscode/

# Flask
*.log

# Twilio auth
.twilio-*

# React / Node
node_modules/
dist/
build/
bun.lockb

# System
.DS_Store
Thumbs.db
.env